body {
  background-color: Gainsboro;
  font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

.textImageLink {
  display: inline-block;
  width: 100%;
}

.frt-filter {
  background: Green;
  font-size: small;
}

.frt-filter .button {
  padding: 2px;
}

.frt-filter .buttons {
  float: right;
}

.frt-filter .button-panel {
  padding: 2px;
  text-align: center;
}

.frt-filter .field {
  width: 100px;
}

.frt-filter .title {
  font-size: large;
  font-weight: bold;
  padding: 2px;
  text-align: left;
}

.frt-filter-row div {
  padding: 2px;
}

.frt-rowCount {
  font-size: small;
  padding-top: 10px;
  text-align: left;
}

.frt-show-columns {
  background: Green;
  font-size: small;
  padding: 5px;
}

.frt-show-columns .buttons {
  float: right;
}

.frt-show-columns .button-panel {
  padding-top: 5px;
  text-align: center;
}

.frt-show-columns .checkbox-panel {
  background: White;
  padding: 2px;
}

.frt-table {
  border-collapse: collapse;
  font-size: small;
  text-align: center;
}

.frt-table td {
  border: 1px solid Green;
}

.frt-table th {
  background: Green;
  border: 1px solid White;
  color: White;
}

.frt-table tbody tr:nth-child(2n) td {
  background: #f0fff0;
}

.frt-table tbody tr:nth-child(2n + 1) td {
  background: White;
}
