<!DOCTYPE html>
<html>
<head>
  <title>ChartComponent</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.11/css/tachyons.min.css" />
  <link rel="stylesheet" href="style.css" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8/dist/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react@16.8/umd/react.development.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom@16.8/umd/react-dom.development.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prop-types@15.7/prop-types.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0/index.js"></script>

  <script src="ChartComponent.viewtest.js" type="module"></script>
</head>
<body>
  <div id="panel" style="background-color: White; height: 300px;"></div>
  <button id="updateDataButton">Update Data</button>
  <button id="updateOptionsButton">Update Options</button>
</body>

</html>